.info{
    width: 100%;
    min-height:80vh;
    background-image: url('../../assets/images/bg-content.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
}