/*Colors*/
$primary-color: #1500A1;
$stone80-color: #4E4044;
$stone50-color: #707070;
$light-color: #fff;
/*fonts*/
$primary-font: 'Montserrat', sans-serif;
/*font-sizes*/
$extraLarge-font:3.2rem;
$medium-font: 2rem;
$small-font: 1.6rem;
$extraSmall-font: 1.4rem;
/*Spacing*/
$extraLarge-spacing: 36px;
$large-spacing: 28px;
$medium-spacing: 20px;
$small-spacing: 16px;
$extraSmall-spacing: 12px;